<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
    <div id="header">
        <h1>Nombre de la página web</h1>
        <p>Pa señores mayores de 30 años.</p>
    </div>
    <div id="topNav" th:replace="fragment/topNav :: topNav"></div>
    <div class="card" id="request">
        <a th:href="|/user/profile|"><img src="/requests.png" style="width:100%">
        <div class="container">
            <h4><b>Peticions</b></h4>
        </div>
        </a>
    </div>
    <div class="card" id="link">
        <a th:href="|/user/profile|"><img src="/link.png" style="width:100%">
            <div class="container">
                <h4><b>Peticions</b></h4>
            </div>
        </a>
    </div>
    <div class="card" id="location">
        <a th:href="|/user/profile|"><img src="/location.png" style="width:100%">
            <div class="container">
                <h4><b>Peticions</b></h4>
            </div>
        </a>
    </div>
    <div class="card" id="timetable">
        <a th:href="|/user/profile|"><img src="/bus.png" style="width:100%">
            <div class="container">
                <h4><b>Peticions</b></h4>
            </div>
        </a>
    </div>
    <div class="card" id="games">
        <a th:href="|/user/profile|"><img src="/game.png" style="width:100%">
            <div class="container">
                <h4><b>Peticions</b></h4>
            </div>
        </a>
    </div>
    <div class="card" id="profile">
        <a th:href="|/user/profile|"><img src="/profile.png" style="width:100%">
            <div class="container">
                <h4><b>Peticions</b></h4>
            </div>
        </a>
    </div>
</body>
</html>