<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Milestones</title>
</head>
<body>
<div th:each="milestone : ${milestones}">
    <div th:text="${milestone.getUsers_mail()}"></div>
    objective: <i th:text="${milestone.getProgress()}"></i> of <i th:text="${milestone.getTarget()}"></i> kcal <b th:text="| (${milestone.getProgressPercent()}%)|"></b><br>
    started: <div th:date="${milestone.getDateinitial()}"></div>
    will end: <div th:date="${milestone.getDateend()}"></div>
</div>
</body>
</html>