<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receptes</title>
</head>
<body>

<h1>Com cuinar sense destruir vitamines</h1>

<h2>
    Tens més opcions de les que imagines per tal de que els vegetals que prens cada dia mantinguin tots els seus nutrients.
    T'expliquem com conservar les vitamines i altres substàncies antioxidants quan els cuinis.
</h2>
<h3>
    L'amanida verda és el plat que més mengem els espanyols, segons l'últim Informe
    de l'consum alimentari a Espanya de el Ministeri d'Agricultura, Pesca i Alimentació.
    I hem de felicitar-nos per això perquè, a més de ser bàsiques en la nostra alimentació,
    en molts casos les verdures i hortalisses són millor consumir-les crues que cuites per obtenir tots els seus nutrients.
    etc.
</h3>


</body>
</html>