<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Request</title>
</head>
<body>
    <div class="card">
        <form method="POST" th:object="${request}">
            <h1>Quina és la teva petició?</h1><br /><br>
            Descripció del problema:
            <br><textarea rows="4" cols="50" inputmode="text" th:field="*{description}" /><br/><br>
            <div>
                <button class="ui button" type="submit">Crear Petició</button>
            </div>
        </form>
    </div>
</body>
</html>