<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
<div class="row">
    <div class="leftcolumn">
        <h1><span th:text="${request.id}"/></h1>
            <a th:href="|/user/${creator}|"><h2>Creado por <span th:text="${creator}"/></h2></a>
            <th>Estado: </th>
            <td th:text="${request.state}"></td><br><br>
            <th>Description: </th>
            <td th:text="${request.description}">Description</td><br><br>
    </div>
</div>
</body>
</html>