<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
    <div>
        <article th:each="request : ${requestsList}">
            <div>
                <a th:href="|/showRequest/${request.id}|"><h1 th:text="${request.id}"/></a>
                <p>Estado: <span th:text="${request.state}"/></p>
                <p>DNI: <span th:text="${request.user_dni}"/></p>
            </div>
        </article>
    </div>
</body>
</html>