<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div>
    <h1>User Search</h1>
    <form method="POST">
        Search User:
        <!--select th:field="*{availability}">
            <option value="matins i tardes">Matins i Tardes</option>
            <option value="matins">Matins</option>
            <option value="tardes">Tardes</option>
        </select><br-->
        <input th:type="text" th:object="${filter}"/>
    </form>
</div>
<div>
    <h2>User List</h2>
    <a th:each="user : ${users}" th:href="|/user/${user.getMail()}|"><div><b th:text="${user.getName()}"></b>     <i th:text="${user.getSurnames()}"></i>     <b th:text="${user.getMail()}"></b>     <i th:text="${user.getAddress()}"></i>     <b th:text="${user.getPhone()}"></b></div></a>
</div>
</body>
</html>