<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div>
    <h1>User Search</h1>
    <form method="POST" th:object="${filter}">
        Disponibilitat:
        <select th:field="*{availability}">
            <option value="matins i tardes">Matins i Tardes</option>
            <option value="matins">Matins</option>
            <option value="tardes">Tardes</option>
        </select><br>
        Categories:
        <div th:each="category : ${categories}"><input type="checkbox" th:text="${category.getName()}" th:field="*{categoryList}" th:value="${category.getName()}"></div>
        <input type="submit" value="FILTER USERS">
    </form>
</div>
<div>
    <h2>User List</h2>
    <a th:each="user : ${users}" th:href="|/user/${user.getDni()}|"><div><b th:text="${user.getName()}"></b>     <i th:text="${user.getSurnames()}"></i>     <b th:text="${user.getMail()}"></b>     <i th:text="${user.getAddress()}"></i>     <b th:text="${user.getPhone()}"></b></div></a>
</div>
</body>
</html>