<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div>
    <h1>Cerca d'usuaris</h1>
    <form method="POST" th:object="${filter}">
        Search User:
        <input th:type="text" th:field="*{name}"/><button type="submit" >Cercar usuari</button>
    </form>
</div>
<div>
    <h2>User List</h2>
    <a th:each="user : ${userList}" th:href="|/users/${user.getMail()}|"><div><b th:text="${user.getName()}"></b>     <i th:text="${user.getSurnames()}"></i>     <b th:text="${user.getMail()}"></b>     <i th:text="${user.getAddress()}"></i>     <b th:text="${user.getPhone()}"></b></div></a>
</div>
</body>
</html>